*{
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
}

main{
    display:flex ;
    margin-top: 2px;
   
}

.header{
    background-image: url("../images/ian-schneider-TamMbr4okv4-unsplash.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 95%;
  
}

.header img{
height: 400px;
width:400px;
margin: 40px;
display: flex;
}

nav{
    font-size: 20px;
    display: flex;
   justify-content: end;
}


nav a{
    color: white;
    padding: 14px 20px;
    text-align:center;
    display:inline-flex;
}

.about-me{
    background-color: black;
    color: white;
    font-size: 15px;
    padding: 15px;
}

.about-me h2{
    font-size: 40px;
    padding: 15px;
}

.work-samples{
    font-size: 40px;
    background-color: black;
    color: white;
    padding: 20px;
}

.work-samples a{
    font-size: 20px;
    color: white;
    padding: 14px 20px;
    text-align: center;
   
}

.work-samples img{
    height: 500px;
    width:500px;
    margin: 40px;
    display: flex;
}

.contact{
    background-color: black;
    color: white;
    font-size: 20px;
    flex-wrap: wrap;
    
}

@media screen and (max-width: 768px) {
    main,
    nav{
        flex-direction: column;
    }
}

